
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
ul.square {
    list-style-type: square; 
    padding-left: 20px; 
    margin-bottom: 20px;
}
li {
    margin-left: 0px;
}
