<h1>DYHA Toolbox</h1>
<ul>
	<li><%= link_to 'Referee Requests', referee_requests_path %></li>	
	<li><%= link_to 'Check Requests', check_requests_path %></li>
</ul>
<h1>OAHL Toolbox</h1>
<ul>
	<li><%= link_to 'Free Agents', free_agents_path %></li>	
</ul>
